@model projekt.Models.Passenger

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="mt-1">
    <h4>Passenger</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDCardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDCardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Citizenship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Citizenship)
        </dd>
    </dl>
</div>
<div>
    <a class="btn1" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn1" asp-action="Index">Back to List</a>
</div>
