@model projekt.Models.Flight

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div>
            <button class="btn1" asp-area="" asp-controller="Home" asp-action="Odloty"></button>
            <button class="btn1" asp-area="" asp-controller="Home" asp-action="Przyloty"></button>
        </div>
    </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Line)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Line.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terminal.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plane.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination.City)
        </dd>
    </dl>
</div>
