@model IEnumerable<projekt.Models.FlightStaff>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn1" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.FirstName)
            </td>
            <td>
                    <a class="btn1" asp-action="Edit" asp-route-id="@item.FlightStaffID">Edit</a> |
                    <a class="btn1" asp-action="Details" asp-route-id="@item.FlightStaffID">Details</a> |
                    <a class="btn1" asp-action="Delete" asp-route-id="@item.FlightStaffID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
